---
import H1 from '../components/H1.astro'
import Main from '../components/Main.astro'
import Layout from '../layouts/Layout.astro'

export const prerender = true
---

<Layout title="Hello World with Astro." description="An Astro app.">
	<Main>
		<H1 text="Hello World">
	</Main>
</Layout>
